:root {
  --primary-font: 'Poppins', sans-serif;
  --white: #fff;
  --yellow: #f7e05f;
  --yellow-light: #f9e67f;
  --grey: #e3e6e9;
  --grey-light: #f4f4f4;
  --blue-black: #1a234a;
  --black: #010416;
  --green: #50d89e;
  --blue: #1a27c9;
}
